{% extends "layout.html" %}
{% block title %}COM CAR{%endblock %}
{% block extra_head %}

<!link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}" />
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %}
{% block inner_content %}


{% include "sidebar.html" %}

<div class="page-content p-4" id="content">
<div class="main-container">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                        <div class="title">
                            <h4><i class="micon dw dw-settings2 mtext"></i></h4>
                        </div>


    <div class="container-fluid right-content">

        <h1 class="h2">Appointment</h1>

        
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add_task">Add Appointment</button>
        {{ error }}

        <form action="/doctor/appointment" method="post">
            <div class="input-group" style="padding-top: 10px;">
                <input type="hidden" name="ftype" value="on" />
                <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;">
                    <label>Date</label>
                    <input type="date" id="form1" class="form-control" name="fdate" />

                </div>
                <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;">
                    <label>Patient ID</label>
                    <input type="search" size="5" placeholder="Phone" id="form1" class="form-control" name="fpatientid" />

                </div>
                <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;">
                    <label>Doctor Name</label>
                    <input type="search" style="text-transform: capitalize;" size="7" placeholder="Engineer" id="form1" class="form-control" name="fdoctorname" />

                </div>
                
                <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;">
                    <label>Specialization</label>
                    
                    <select class="form-control" name="fstype" > 
                        <option value="">Select an Specialization</option>
                        <option value="audiologists" id="audiologists">Audiologists</option>
                        <option value="cardialogist" id="cardialogist">Cardialogist</option>
                        <option value="dentist" id="dentist">Dentist</option>
                        <option value="diabetes" id="diabetes">Diabetes</option>
                        <option value="endocrinologist" id="endocrinologist">Endocrinologist</option>
                        <option value="gynaecologist" id="">Gynaecologist</option>
                        <option value="nephrologist" id="nephrologist">Nephrologist</option>
                        <option value="neurologist" id="neurologist">Neurologist</option>
                        <option value="oncologists" id="oncologists">Oncologists</option>
                        <option value="ophthalmologist" id="ophthalmologist">Ophthalmologist</option>
                        <option value="ortho" id="ortho">Ortho</option>
                        <option value="otolaryngologist(ENT)" id="otolaryngologist(ENT)">Otolaryngologist(ENT)</option>
                        <option value="pediatrician" id="pediatrician">Pediatrician</option>
                        <option value="psychiatrists" id="psychiatrists">Psychiatrists</option>
                        <option value="pulmonologist" id="pulmonologist">Pulmonologist</option>
                        <option value="radiologist" id="radiologist">Radiologist</option>
                       
                </select>
                </div>
                
                <div>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <form id="add" method="post">
            <div id="add_task" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1"
                aria-labelledby="submitIdeaBackdropLabel" aria-hidden="true">
                <!-- Popup contents, todo, make this actual pop on the prev button is clicked -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="submitIdeaBackdropLabel">Add Appointment</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
             
                            <input type="hidden" name="appointment_hospital_id" value="{{ hospital_id }}" >
                            
                            <div >
                                <label>Specialization</label>
                                <select class="form-control" name="appointment_specialization" required> 
                                    <option value="">Select an Specialization</option>
                                    <option value="audiologists" id="audiologists">Audiologists</option>
                                    <option value="cardialogist" id="cardialogist">Cardialogist</option>
                                    <option value="dentist" id="dentist">Dentist</option>
                                    <option value="diabetes" id="diabetes">Diabetes</option>
                                    <option value="endocrinologist" id="endocrinologist">Endocrinologist</option>
                                    <option value="gynaecologist" id="">Gynaecologist</option>
                                    <option value="nephrologist" id="nephrologist">Nephrologist</option>
                                    <option value="neurologist" id="neurologist">Neurologist</option>
                                    <option value="oncologists" id="oncologists">Oncologists</option>
                                    <option value="ophthalmologist" id="ophthalmologist">Ophthalmologist</option>
                                    <option value="ortho" id="ortho">Ortho</option>
                                    <option value="otolaryngologist(ENT)" id="otolaryngologist(ENT)">Otolaryngologist(ENT)</option>
                                    <option value="pediatrician" id="pediatrician">Pediatrician</option>
                                    <option value="psychiatrists" id="psychiatrists">Psychiatrists</option>
                                    <option value="pulmonologist" id="pulmonologist">Pulmonologist</option>
                                    <option value="radiologist" id="radiologist">Radiologist</option>
                                    
                                </select>
                            </div>
                            <div>
                                <label>Doctors</label>
                                <select class="form-control" name="appointment_doctor_id" required> 
                                    <option value="">Select Doctor</option>
                                    {% for hospital in doctors %}
                                        <option value="{{ hospital.doctor_id }}">{{ hospital.doctor_name | capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div >
                                <label>Patient PhNo.</label>
                                <input type="text"  style="text-transform: capitalize;"list="patient_phoneno" class="form-control" placeholder="Phone No"
                                    name="patient_phoneno" required>
                                
                            </div>
                            
                            

                            <div >
                                <label>Date</label>
                                <input type="date"  class="form-control" name="appointment_date" required>
                            </div>

                            
                            <div >
                                <label>Time</label>
                                <select id="time" class="form-control" name="appointment_time">
                                    <option value="select-an-option">Select an Option</option>
                                    <option value="morning">9:00AM to 11:00AM</option>
                                    <option value="afternoon">4:00PM to 6:00PM</option>
                                    <option value="evening">8:00PM to 10:00PM</option>
                                </select>
                                </div>

                            <div >
                                <label>Appointment Reason</label>
                                <input type="text"  style="text-transform: capitalize;"style="text-transform: capitalize;" list="appointment_reason" class="form-control" placeholder="Appointment Reason"
                                    name="appointment_reason" required>
                            </div>
                            <div>
                                <label>Appointment Type</label>
                                <select id="appointment-type" class="form-control" name="appointment_type">
                                    <option value="select-an-option">Select an Option</option>
                                    <option value="general">General</option>
                                    <option value="follow-up">Follow-up</option>
                                    <option value="special">Special</option>
                                </select>
                            </div>

                                
                            
                            <button type="submit" class="btn btn-dark">Add</button>

                        </div>

                    </div>
                </div>
            </div>
        </form>


        
        <div class="table-responsive">
            <br>
            <table id="myTable"class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p style="text-transform: capitalize;">efedsdsf</p>
                        </td>
                        <td>
                            <p style="text-transform: capitalize;">sdfds</p>
                        </td>
                        <td>
                            <p style="text-transform: capitalize;">dsdsa</p>
                        </td>
                        <td>
                            <p style="text-transform: capitalize;">sadsa</p>
                        </td>
                        <td>
                            <p>asds</p>
                        </td>
                    </tr>
                </tbody>
                <!---
                <tbody class="table-group-divider">
                    <!--{% for task in tasks -%}
                    <tr>
                        <td>
                            <p style="text-transform: capitalize;">efedsdsf</p>
                        </td>
                        <td>
                            <p style="text-transform: capitalize;">sdfds</p>
                        </td>
                        <td>
                            <p style="text-transform: capitalize;">dsdsa</p>
                        </td>
                        <td>
                            <p style="text-transform: capitalize;">sadsa</p>
                        </td>



                        <td>

                            <a href="{{ url_for('onsite_task_view', task_id=task.task_id) }}"><button role="button"
                                    class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#viewtask">View</button></a>
                        </td>
                    </tr>

                    {% endfor -%}
                </tbody>--->
            </table>

        </div> 


    </div>
    </main>



    {% endblock %}