<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login Form</title>
</head>

<body>
    <header>
        <h1>MediConnect</h1>
    </header>
    <main>
        <section class="registration-form">
            <h2>Login Form</h2>
            <form action="#" method="post">
                <label>Name:</label><br>
                <input type="text" id="firstName" placeholder="First Name" required><br>
                <label>Password:</label><br>
                <input type="password" id="password" placeholder="Password" required><br>
                <button type="submit" id="registerButton">Login</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 MediConnect App. All rights reserved.</p>
    </footer>
    
</body>

</html>