<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient-app/patient_login.css') }}">
    <title>Patient Login</title>
</head>

<body>
    <header>
        <h1>MediConnect</h1>
    </header>
    <main>
        <section class="registration-form">
            <h2>Welcome Back</h2>
            <form action="#" method="post">
                <label>Phone No</label><br>
                <input type="text" id="patient_phoneno" name="patient_phoneno" placeholder="Phone No" required><br>
                <label>Password:</label><br>
                <input type="password" id="patient_password" name="patient_password" placeholder="Password" required><br>
                <button type="submit" id="loginbutton">Login</button>
                <p>Don't have an account? <a href="/patient/register">Register</a></p>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 MediConnect App. All rights reserved.</p>
    </footer>
    
</body>

</html>