<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient-app/patient_dashboard.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1>MediConnect</h1>
    </header>
    <main>
        <section class="appointment-form">
            <h2>Welcome <br> Name,</h2>
            <h3>Appointments</h3>
            <div class="box">
                <p>Kauvery Hospital<br>20/07/2003<br>Dr. Alex Wasabi<br>General</p>
            </div>
            <h3>Remainders</h3>
            <div class="box">
                <p>DOLO 650 - 7:00PM</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 MediConnect App. All rights reserved.</p>
    </footer>
</body>

</html>