<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient-app/patient_dashboard.css') }}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient-app/patient_bottombar.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1>MediConnect</h1>
    </header>
    <main>
        <section class="appointment-form">
            <h2>Welcome <br> Name,</h2>
            <h3>Appointments</h3>
            <div class="box">
                <p>Kauvery Hospital<br>20/07/2003<br>Dr. Alex Wasabi<br>General</p>
            </div>
            <h3>Remainders</h3>
            <div class="box">
                <p>DOLO 650 - 7:00PM</p>
            </div>
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
        </section>
    </main>
    <footer>
        <div class="bottombar">
            <a href="{{ url_for('patient_dashboard' ) }}"><i class='bx bx-home-alt nav_logo'></i></a>
            <a href="#"><i class='bx bx-user nav_logo'></i></a>
            <a href="{{ url_for('patient_appoinment' ) }}"><i class='bx bx-briefcase nav_logo'></i></a>
            <a href="#"><i class='bx bx-book nav_logo'></i></a>
            <a href="#"><i class='bx bx-message-rounded nav_logo'></i></a>
        </div>
    </footer>
</body>

</html>