<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="patient_view_prescription.css">
    <title>Login Form</title>
</head>

<body>
    <header>
        <h1>MediConnect</h1>
    </header>
    <h2>Prescription</h2>
    <table>
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Strength</th>
                <th>Dose</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Medicine A</td>
                <td>250mg</td>
                <td>1 tablet</td>
                <td>7 days</td>
            </tr>
            <tr>
                <td>Medicine B</td>
                <td>500mg</td>
                <td>1 capsule</td>
                <td>10 days</td>
            </tr>
            <tr>
                <td>Medicine C</td>
                <td>100mg</td>
                <td>2 tablets</td>
                <td>14 days</td>
            </tr>
        </tbody>
    </table>
    <footer>
        <p>&copy; 2023 MediConnect App. All rights reserved.</p>
    </footer>

</body>
</html>