<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="patient_remainder.css">
    <title>Previous Appointments</title>
</head>

<body>
    <header>
        <h1>MediConnect</h1>
    </header>
    <main>
        <section class="appointment-form">
            <h2>Remainders</h2>
            <h3>Tablets Remainder</h3>
            <div class="box">
                <p>Kauvery Hospital<br>20/07/2003<br>10:00 AM<br>Dr. Alex Wasabi<br>General</p>
            </div>
            <div class="box">
                <p>Kauvery Hospital<br>20/07/2003<br>10:00 AM<br>Dr. Alex Wasabi<br>General</p>
            </div>
            <h3>Appointments Remainder</h3>
            <div class="box">
                <p>Kauvery Hospital<br>20/07/2003<br>10:00 AM<br>Dr. Alex Wasabi<br>General</p>
            </div>
            <div class="box">
                <p>Kauvery Hospital<br>20/07/2003<br>10:00 AM<br>Dr. Alex Wasabi<br>General</p>
            </div><br>
    </main>
    <footer>
        <p>&copy; 2023 MediConnect App. All rights reserved.</p>
    </footer>
</body>

</html>