<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Appointment</title>
    <link rel="stylesheet" href="patient_view_appointment.css">
</head>
<body>
    <header>
        <h1>MediConnect</h1>
    </header>
    <main>
        <section class="appointment-form">
            <h2 style="text-align: center;">Appointment 5</h2>
            <h3>Location: </h3>
            <div class="box">
                <p>Kauvery Hospital</p>
            </div>
            <h3>Hospital Name: </h3>
            <div class="box">
                <p>20/07/2003</p>
            </div>
            <h3>Doctor Speciality: </h3>
            <div class="box">
                <p>Dr. Alex Wasabi</p>
            </div>
            <h3>Doctor Name: </h3>
            <div class="box">
                <p>General</p>
            </div>
            <h3>Appointment Date: </h3>
            <div class="box">
                <p>General</p>
            </div>
            <h3>Time Slot: </h3>
            <div class="box">
                <p>General</p>
            </div>
            <h3>Reason for Appointment: </h3>
            <div class="box">
                <p>General</p>
            </div>
            <h3>Appointment Type6
                
                3
                : </h3>
            <div class="box">
                <p>General</p>
            </div><br>
    </main>
    <footer>
        <p>&copy; 2023 MediConnect App. All rights reserved.</p>
    </footer>
</body>
</html>